body {
margin:0;
overflow:hidden;
}

.new_ui {
background-color:#000;
background-image:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='300' height='250' viewBox='001080900'%3E%3Cg fill-opacity='0.05'%3E%3Cpolygon fill='%23444' points='901500300180300'/%3E%3Cpolygon points='90150180000'/%3E%3Cpolygon fill='%23AAA' points='27015036001800'/%3E%3Cpolygon fill='%23DDD' points='450150360300540300'/%3E%3Cpolygon fill='%23999' points='45015054003600'/%3E%3Cpolygon points='630150540300720300'/%3E%3Cpolygon fill='%23DDD' points='63015072005400'/%3E%3Cpolygon fill='%23444' points='810150720300900300'/%3E%3Cpolygon fill='%23FFF' points='81015090007200'/%3E%3Cpolygon fill='%23DDD' points='9901509003001080300'/%3E%3Cpolygon fill='%23444' points='990150108009000'/%3E%3Cpolygon fill='%23DDD' points='904500600180600'/%3E%3Cpolygon points='904501803000300'/%3E%3Cpolygon fill='%23666' points='270450180600360600'/%3E%3Cpolygon fill='%23AAA' points='270450360300180300'/%3E%3Cpolygon fill='%23DDD' points='450450360600540600'/%3E%3Cpolygon fill='%23999' points='450450540300360300'/%3E%3Cpolygon fill='%23999' points='630450540600720600'/%3E%3Cpolygon fill='%23FFF' points='630450720300540300'/%3E%3Cpolygon points='810450720600900600'/%3E%3Cpolygon fill='%23DDD' points='810450900300720300'/%3E%3Cpolygon fill='%23AAA' points='9904509006001080600'/%3E%3Cpolygon fill='%23444' points='9904501080300900300'/%3E%3Cpolygon fill='%23222' points='907500900180900'/%3E%3Cpolygon points='270750180900360900'/%3E%3Cpolygon fill='%23DDD' points='270750360600180600'/%3E%3Cpolygon points='450750540600360600'/%3E%3Cpolygon points='630750540900720900'/%3E%3Cpolygon fill='%23444' points='630750720600540600'/%3E%3Cpolygon fill='%23AAA' points='810750720900900900'/%3E%3Cpolygon fill='%23666' points='810750900600720600'/%3E%3Cpolygon fill='%23999' points='9907509009001080900'/%3E%3Cpolygon fill='%23999' points='180090150270150'/%3E%3Cpolygon fill='%23444' points='3600270150450150'/%3E%3Cpolygon fill='%23FFF' points='5400450150630150'/%3E%3Cpolygon points='9000810150990150'/%3E%3Cpolygon fill='%23222' points='0300-9045090450'/%3E%3Cpolygon fill='%23FFF' points='030090150-90150'/%3E%3Cpolygon fill='%23FFF' points='18030090450270450'/%3E%3Cpolygon fill='%23666' points='18030027015090150'/%3E%3Cpolygon fill='%23222' points='360300270450450450'/%3E%3Cpolygon fill='%23FFF' points='360300450150270150'/%3E%3Cpolygon fill='%23444' points='540300450450630450'/%3E%3Cpolygon fill='%23222' points='540300630150450150'/%3E%3Cpolygon fill='%23AAA' points='720300630450810450'/%3E%3Cpolygon fill='%23666' points='720300810150630150'/%3E%3Cpolygon fill='%23FFF' points='900300810450990450'/%3E%3Cpolygon fill='%23999' points='900300990150810150'/%3E%3Cpolygon points='0600-9075090750'/%3E%3Cpolygon fill='%23666' points='060090450-90450'/%3E%3Cpolygon fill='%23AAA' points='18060090750270750'/%3E%3Cpolygon fill='%23444' points='18060027045090450'/%3E%3Cpolygon fill='%23444' points='360600270750450750'/%3E%3Cpolygon fill='%23999' points='360600450450270450'/%3E%3Cpolygon fill='%23666' points='540600630450450450'/%3E%3Cpolygon fill='%23222' points='720600630750810750'/%3E%3Cpolygon fill='%23FFF' points='900600810750990750'/%3E%3Cpolygon fill='%23222' points='900600990450810450'/%3E%3Cpolygon fill='%23DDD' points='090090750-90750'/%3E%3Cpolygon fill='%23444' points='18090027075090750'/%3E%3Cpolygon fill='%23FFF' points='360900450750270750'/%3E%3Cpolygon fill='%23AAA' points='540900630750450750'/%3E%3Cpolygon fill='%23FFF' points='720900810750630750'/%3E%3Cpolygon fill='%23222' points='900900990750810750'/%3E%3Cpolygon fill='%23222' points='10803009904501170450'/%3E%3Cpolygon fill='%23FFF' points='10803001170150990150'/%3E%3Cpolygon points='10806009907501170750'/%3E%3Cpolygon fill='%23666' points='10806001170450990450'/%3E%3Cpolygon fill='%23DDD' points='10809001170750990750'/%3E%3C/g%3E%3C/svg%3E");
box-sizing:border-box;
font-family:helvetica, arial, sans-serif;
height:100vh;
left:0;
overflow:hidden;
position:absolute;
text-align:center;
top:-150vh;
transition:top 1s ease;
width:100vw;
}

.new_ui .partition_wrapper {
box-sizing:border-box;
display:block;
height:200vh;
position:relative;
top:0;
transition:top 1s ease;
width:100vw;
}

.new_ui .partition {
box-sizing:border-box;
display:block;
height:100vh;
overflow-y:auto;
position:relative;
width:100vw;
}

.new_ui .partition_panel {
border-bottom:1px solid;
border-top:1px solid;
padding:32px;
}

.new_ui .noticebar_header {
font-size:40px;
left:50%;
margin:0;
position:absolute;
top:50%;
transform:translate(-50%,-50%);
width:100vw;
}

.new_ui .noticebar {
background:linear-gradient(90deg,rgba(255,0,0,1) 0 rgba(255,0,0,0.6) 50% rgba(255,0,0,0.3) 100%;
color:#000;
display:inline;
height:10vh;
left:0;
position:absolute;
top:30vh;
width:100vw;
}

.new_ui .login_input {
background:rgba(0,0,0,0);
box-sizing:border-box;
color:gray;
font-size:15px;
height:25px;
margin:10px 0 0;
width:200px;
}

.new_ui .login_submit {
background-color:rgba(0,0,0,0);
border:1px outset gray;
box-sizing:border-box;
color:gray;
font-size:15px;
height:25px;
margin:10px 0 0;
padding:0 3px;
}

.new_ui .login_wrap {
left:50%;
position:absolute;
top:50%;
transform:translate(-50%,0);
width:min(470px,calc(100vw-64px));
}

.new_ui :focus {
outline:none;
}

.new_ui button {
background-color:rgba(0,0,0,0);
border:1px outset gray;
color:inherit;
padding:5px;
}

.new_ui table {
color:inherit;
font-family:Consolas,monaco,monospace;
width:100%;
}

.new_ui .monospace {
font-family:Consolas,monaco,monospace;
}

.new_ui tr > td:nth-child(1) {
text-align:left;
}

.new_ui tr > td:nth-child(2) {
text-align:center;
}

.new_ui tr > td:nth-child(3) {
text-align:right;
}

.new_ui .maindiv {
background-color:rgba(0,0,0,0.4);
border-bottom:1px solid;
display:inline-block;
height:620px;
margin:10px;
overflow:visible;
padding:20px;
position:relative;
text-align:center;
vertical-align:middle;
width:530px;
}

.new_ui .blocklist {
border-bottom:1px solid;
border-top:1px solid;
display:inline-block;
height:545px;
left:18px;
margin:0;
overflow:auto;
padding:0;
position:absolute;
top:70px;
width:170px;
}

.new_ui .blocklist button {
font-size:13px;
height:25px;
padding:0 0 0 5px;
text-align:left;
width:100%;
}

.new_ui .blockdata {
border-bottom:1px solid;
border-top:1px solid;
display:inline-block;
height:545px;
margin:0;
overflow:auto;
padding:0;
position:absolute;
right:18px;
top:70px;
width:355px;
}

.new_ui .command_additional {
background-color:rgba(0,0,0,0);
border:1px solid gray;
bottom:51px;
box-sizing:border-box;
color:inherit;
font-size:14px;
height:27px;
left:50%;
overflow:hidden;
padding:2px;
position:absolute;
transform:translate(-50%,0);
width:316px;
}

.new_ui .command_submit {
bottom:25px;
box-sizing:border-box;
height:27px;
left:50%;
position:absolute;
transform:translate(-50%,0);
width:316px;
}

.new_ui .block_ver {
font-size:9px;
left:32px;
margin:0;
position:absolute;
text-align:left;
top:32px;
}

.new_ui .sessionlist {
border-bottom:1px solid;
border-top:1px solid;
height:545px;
left:50%;
position:absolute;
top:70px;
transform:translate(-50%,0);
width:535px;
}

.new_ui .databar {
bottom:5px;
height:30px;
left:50%;
overflow:auto;
padding:0;
position:absolute;
transform:translate(-50%,0);
width:537px;
}

.new_ui .minordiv {
border-bottom:1px solid;
display:inline-block;
padding:3px;
width:300px;
}